<div class="columns">
  <div class="column">
    <app-user-form
      [user]="user"
      (userSubmit)="userSubmit($event)">
    </app-user-form>
  </div>

  <div class="column">
    <pre>{{user|json}}</pre>
  </div>
</div>
